.hero {

    background-color: #250a0a;
    display: flex;
    align-items: center;
    padding: 300px 0 300px 0;
    position: relative; 
    z-index: 1;
}

.hero::before { 
    content: ' ';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #00000065;
    background: url('../images/background1.png') center center / cover no-repeat;
    filter: blur(6px);
   z-index: -2;
}

.hero .hero__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero .hero__container .hero__title {
    font-size: clamp(30px, 24.00px + 1.88vw, 60px);
/* 30px, viewport: 320px -> 60px, viewport: 1920px */;
}

.hero .hero__container .hero__subtitle {
    font-size: clamp(20px, 18.00px + 0.63vw, 30px);
/* 20px, viewport: 320px -> 30px, viewport: 1920px */
}

.hero__title,
.hero__subtitle {
    margin-bottom: 0;
    color: #ffffff;
    font-weight: 600;
}

.hero__container  span { 
    padding: 6px;
    color: #250a0a;
}